/*=========================================================================================
    File Name: agGridStyleOverride.scss
    Description: Override ag-grid table style/SASS vars
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

@import '~ag-grid-community/src/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material.scss';

@import './_variables.scss';


.ag-grid-table {
  .ag-overlay-no-rows-center{    
    visibility: hidden;
  }

  font-family: "The1Official";
  color: inherit !important;

  &.num-0 {
    height: 53px !important;
  }
  &.num-1 {
    height: 110px !important;
  }
  &.num-2 {
    height: 155px !important;
  }
  &.num-3 {
    height: 200px !important;
  }
  &.num-4 {
    height: 245px !important;
  }
  &.num-5 {
    height: 290px !important;
  }
  &.num-6 {
    height: 335px !important;
  }
  &.num-7 {
    height: 380px !important;
  }
  &.num-8 {
    height: 425px !important;
  }
  height: 480px;
  .ag-header-cell {
    .ag-cell-label-container {
      .ag-header-icon.ag-filter-icon {
        display: none;
      }
    }
  }

  .ag-center-cols-viewport {
    overflow-x: hidden;
  }

  // style select of column header filter
  .ag-filter-select {
    padding: 0.3rem;
    background: transparent;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  // style input of column header filter input
  .ag-filter-filter {
    padding-bottom: 0 !important;
    height: 25px !important;
    margin-top: 14px !important;
  }

  // remove extra padding of input in inline edit
  .ag-input-text-wrapper {
    input {
      padding-bottom: 0 !important;
    }
  }

  // Make input border bottom visible
  .ag-floating-filter-body {
    height: unset;
  }

  .ag-cell-inline-editing {
    // height: 40px !important;
  }

  .ag-grid-table-actions-left {
    @media screen and (max-width: 614px) and (min-width: 443px) {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  // remove horizontal scroolbar from pinned columns
  .ag-horizontal-left-spacer,
  .ag-horizontal-right-spacer {
    overflow-x: auto;
  }

  .ag-icon-checkbox-checked,
  .ag-icon-checkbox-indeterminate {
    font-family: "The1Official";
    font-size: 22px;
    color: $primary !important;
  }

  .ag-icon-checkbox-unchecked {
    color: $gray-disable !important;
    font-family: "The1Official";
    font-size: 22px;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: $gray-disable;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-track {
    background: $grey-text;
    border-radius: 20px;
  }

  .row-status {
    border-radius: 16px;
    height: 22px;
    width: 100px;
    font-family: "The1Official";
    font-size: 12px;
    font-weight: 700;
    text-align: center;

    &.active{
      color: $success;
      border: 2px solid $success;
      padding: 2px 14px;
    }
    &.in-active{
      color: $gray-disable;
      border: 2px solid $gray-disable;
      padding: 2px 7.5px;
    }
    &.hold{
      color: $warning;
      border: 2px solid $warning;
      padding: 2px 9px;
    }
  }
}

// Can not use vuexy admin variables
// agGrid vars and imported vars may conflict
.theme-dark {
  .ag-grid-table {
    &.ag-theme-material {
      background: transparent;
      color: $grey-text;

      .ag-header {
        background: transparent;
        color: $white;
        border-bottom-color: $grey-text;
      }

      .ag-cell-last-left-pinned {
        border-right-color: $grey-text !important;
      }

      .ag-floating-filter-input {
        color: $grey-text;
        border-bottom-color: $grey-text;
      }

      .ag-row-hover,
      .ag-header-cell:hover {
        background-color: $gray-disable;
      }

      .ag-row-selected {
        background: $gray-disable;
      }

      .ag-row,
      .ag-header-cell,
      .ag-header-group-cell,
      .ag-row,
      .ag-pinned-left-header,
      .ag-horizontal-left-spacer,
      .ag-horizontal-right-spacer {
        border-color: $grey-text;
      }
    }

    .ag-icon-checkbox-unchecked,
    .ag-icon-filter,
    .ag-icon-asc,
    .ag-icon-desc {
      color: $grey-text !important;
    }

    .ag-filter-body-wrapper {
      background-color: $gray-disable;
    }

    .ag-filter-select {
      border-color: $grey-text;
      color: $grey-text;
    }

    option {
      background-color: $grey-text;
    }

    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: $primary;
      border-radius: 20px;
    }

    ::-webkit-scrollbar-track {
      background: $gray-disable;
      border-radius: 20px;
    }
  }
}

// Custom Fixes
.ag-grid-cell-chip {
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
}

.ag-center-cols-container,
.ag-pinned-left-cols-container {
  cursor: pointer;
}

.ag-cell-focus {
  border: none !important;
}

div[role='row'] {
  background: $gray-bg-fade;
  width: 100% !important;
}

.ag-cell-with-height {
  height: auto !important;
}

.ag-theme-material{
  .ag-header {
    border-bottom: none;
    height: 52px !important;
    min-height: 52px !important;
  }

  .ag-row{
    border-color: #e2e2e2;
    border-left: none;
    border-right: none;
    border-top: none;
  }

  .ag-row-selected {
    background-color: rgba(255, 0, 0, 0.03);
  }

  .ag-row-hover {
    /* putting in !important so it overrides the theme's styling as it hovers the row also */
    background-color: rgba(255, 0, 0, 0.03);
  }

  .ag-checkbox-input-wrapper.ag-checked::after{
    color: $primary !important;
  }
}

.table-search {
  width: 100%;

  > .vs-con-input > .vs-icon {
    top: auto !important;
  }
}

.ag-header-container {
  width: 100% !important;
}

.ag-header-cell-text{
  font-family: "The1Official";
  font-size: 14px;
  font-weight: 700;
}

.table-header {
  color: #37394c;
  font-family: "The1Official";
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  margin: 0px 0px 15px 16px;
  display: flex;


  .title{
    display: inline;
    margin-right: 20px;
  }

  .icon-list{
    display: inline;
  }

  .icon-container{
    margin-right: 15px;
    cursor: pointer;
    color: $mid-black;
  }
}

.ag-body-horizontal-scroll-viewport {
  overflow: hidden !important;
}

.ag-grid-table-actions-right {
  width: 50%;

  @media screen and (max-width: 614px) {
    flex-grow: 1;
  }
}

.custom-row {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.custom-row-80 {
  text-align: left;
  text-overflow: ellipsis;
  width: 100%;
}

.row-h-80{
  .ag-grid-table {
  &.num-0 {
    height: 150px !important;
  }
  &.num-1 {
    height: 150px !important;
  }
  &.num-2 {
    height: 230px !important;
  }
  &.num-3 {
    height: 310px !important;
  }
  &.num-4 {
    height: 390px !important;
  }
  &.num-5 {
    height: 470px !important;
  }
  &.num-6 {
    height: 550px !important;
  }
  &.num-7 {
    height: 630px !important;
  }
  &.num-8 {
    height: 710px !important;
  }
  &.num-9 {
    height: 790px !important;
  }
  &.num-10 {
    height: 870px !important;
  }
  height: 870px !important;

  }
}