@import './_variables.scss';

@font-face {
  font-family: 'The1Official';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/ttf/The1Official_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'The1Official';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/ttf/The1Official_Bold.ttf') format('truetype');
}

html {
  font-family: "The1Official";
}

::-webkit-input-placeholder {
  color: $gray-disable;
}

.vs--disabled .vs__clear, .vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__open-indicator, .vs--disabled .vs__search, .vs--disabled .vs__selected {
  background: $disabled-for-textbox !important;
  color: $mid-black !important;
}

.input-field .input-field-input.disable {
  color: $mid-black !important;
}

.toasted {
  width: 440px !important;
  height: 56px !important;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px !important;
}

.toasted-container .toasted {
  justify-content: left !important;
}

.toasted-container.top-right {
  top: 82px !important;
  right: 34px !important;
}

.toasted .primary.success, .toasted.toasted-primary.success {
  background-color: $success !important;

  .material-icons {
    color: $white;
  }
}

.toasted .primary.error, .toasted.toasted-primary.error {
  background-color: $primary !important;

  .material-icons {
    color: $white;
  }
}

.toasted .primary, .toasted.toasted-primary .material-icons {
  color: $success;
}

body.modal-open {
  overflow: hidden;
}

//Datepicker
.mx-datepicker {
  .mx-input-wrapper {
    height: 44px;

    &:hover {
      .mx-icon-clear {
        display: none !important;
      }

      .mx-icon-clear + .mx-icon-calendar {
        display: block;
      }
    }
  }

  .mx-input {
    height: 100%;
    color: $mid-black;
    border: 1px solid $gray-disable;
    cursor: pointer;

    &:hover, &:focus {
      border: 1px solid $gray-disable;
    }
  }
}

.mx-datepicker-main.mx-datepicker-popup {
  font-family: "The1Official";

  thead .mx-table-date td, .mx-table-date th {
    height: 38px;
    font-size: 14px;
    color: $gray-disable;
    font-weight: 700;
  }

  .cell {
    color: $mid-black;
    font-size: 16px;

    &.not-current-month {
      color: $grey3;
    }
  }

  .mx-calendar-content {
    .mx-table {
      &.mx-table-year {
        .cell.active {
          color: $white;
          background-color: $primary;

          &:hover {
            color: $white;
            background-color: $primary;
          }
        }

        .cell:hover {
          color: $mid-black;
          background-color: $gray-bg-fade;
        }
      }

      &.mx-table-month {
        .cell.active {
          color: $white;
          background-color: $primary;

          &:hover {
            color: $white;
            background-color: $primary;
          }
        }

        .cell:hover {
          color: $mid-black;
          background-color: $gray-bg-fade;
        }
      }

      &.mx-table-date {
        .cell.active {
          color: $white;
          border-radius: 100%;
          background-color: $primary;

          &:hover {
            color: $white;
            background-color: $primary;
          }
        }

        .cell:hover {
          color: $mid-black;
          border-radius: 100%;
          background-color: $gray-bg-fade;
        }

        .cell.disabled {
          border-radius: 0;
          background: none;

          &:hover {
            color: #ccc;
          }
        }
      }
    }
  }

  .mx-calendar-header {
    button:focus {
      outline: none;
    }
  }

  .mx-datepicker-content {
    padding: 20px;
    width: 300px;
  }

  .mx-datepicker-header {
    border-bottom: none !important;
    text-align: center !important;
    color: $primary !important;
    font-weight: 700 !important;
    cursor: context-menu;
  }

  .mx-datepicker-footer {
    border-top: none !important;
    text-align: center !important;
  }

  .mx-icon-left {
    color: $mid-black !important;
  }

  .mx-icon-right {
    color: $mid-black !important;
  }

  .mx-btn-icon-double-left {
    display: none !important;
  }

  .mx-btn-icon-double-right {
    display: none !important;
  }

  .mx-calendar-header-label {
    .mx-btn {
      color: $mid-black;
      font-weight: 700;
    }
  }
}
